* {
  font-family:National,sans-serif;
  margin:0;
  font-size:1em;
  background-color:white;
  line-height:0;
}

body, html {
  height:inherit;
  width:600px;
}

#chart {
	margin-top:10px;
	text-align:center;
}

svg text {
  font-family: 'Yanone Kaffeesatz', monospace;
  fill:#0A2141;
}

.clubname {
  font-size:160px;
}

.date {
  font-size:30px;
}

svg {
	background-color:#90C3D4;
}